@import "general";

.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category {
  font-size: 12px;
  color: #5c6a79;
  cursor: pointer;
}

.category__select {
  font-family: Montserrat-bold, sans-serif;
  font-size: 16px;
  list-style-type: circle;
  color: $selectColor;
}

.books {
  gap: 70px;
  width: 100%;
}

.book {
  display: flex;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.book__cover {
  width: 100%;
  align-self: center;
  object-fit: cover;
}

.book__cover > img {
  width: 100%;
  object-fit: cover;
}

.book__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 174px;
  padding-top: 20px;
  padding-left: 30px;
}

.book__author {
  font-size: 10px;
  color: $justText;
}

.book__name {
  font-size: 16px;
  color: $selectColor;
}

.book__rating {
  display: flex;
  gap: 6px;
}

.book__rating__stars {
  display: flex;
}

.stars {
  width: 16px;
  height: 16px;
}

.stars > img {
  width: 16px;
  height: 16px;
}

.book__rating__reviews {
  font-size: 10px;
  color: $justText;
}

.book__description {
  width: 100%;
  font-size: 10px;
  color: $justText;
}

.book__price {
  font-size: 16px;
  color: $selectColor;
}

@mixin button {
  border: 1px solid $colorOfButtons;
  white-space: nowrap;
  color: $colorOfButtons;
  text-align: center;
  height: 45px;
  width: 173px;
  font-size: 10px;
  background-color: transparent;
  cursor: pointer;
}

.buy__book {
  @include button
}

.inTheBasket {
  color: $justText;
}


.load__more {
  @include button;
  justify-self: center;
  margin-top: 95px;
  margin-bottom: 75px;
}