@import "general";

.title {
  font-family: Montserrat-bold, sans-serif;
  font-size: 24px;
}

header {
  display: grid;
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: white;
  grid-area: header;
  grid-template-columns: minmax(16px, auto) minmax(288px, 1200px) minmax(16px, auto);
  grid-auto-rows: auto auto auto;
  grid-template-areas:
          ". hc .";

}

.header__content {
  grid-area: hc;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
}

.icons {
  justify-content: space-between;
  gap: 40px;
}

.burger {
  width: 30px;
  height: 30px;
}

.navbar > ul {
  display: flex;
  gap: 40px;
}

.navbar > ul > li {
  font-family: Montserrat-bold, sans-serif;
  font-size: 10px;
  list-style: none;
  color: $justText;
  align-items: center;
}

.navbar > ul > li:first-child{
  color: $selectColor;
}

.inside__basket {
  position: relative;
}

.purchases {
  font-size: 10px;
  position: absolute;
  padding: 3px;
  border-radius: 5px;
  background-color: red;
  line-height: 10px;
  color: white;
  bottom: 0;
  right:0;
}