@import "general";

.title {
  font-family: Montserrat-bold, sans-serif;
  font-size: 24px;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}


.navbar > ul {
  display: flex;
  gap: 40px;
}

.navbar > ul > li {
  font-family: Montserrat-bold, sans-serif;
  font-size: 10px;
  list-style: none;
  color: $not__active__text;
  align-items: center;
}

.active {
  color: $active__text;
}


.inside__basket {
  position: relative;
}

.purchases {
  font-size: 10px;
  position: absolute;
  padding: 3px;
  border-radius: 5px;
  background-color: red;
  line-height: 10px;
  color: white;
  bottom: 0;
  right:0;
}