.slider {
  grid-area: slider;
  border-radius: 8px;
  height: fit-content;
}

.slider__picture {
  width: 100%;
  padding: 0;
  margin: 0;
}

.insideSlider {
  color: #FFFFFF;
  height: 20px;
  width: fit-content;
  font-family: Nunito, sans-serif;
  font-size: 13px;
}

.balls {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 17px;
  justify-content: center;
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 16px;
  cursor: pointer;
}

.main__ball__notSelected {
  background-color: #EFEEF6;
}

.main__ball__selected {
  background-color: #9e98dc;
}

@mixin block {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  box-sizing: border-box;
  color: #1c2a39;
  z-index: 500;
  font-size: 18px;
  word-break: break-word;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.block__change {
  @include block;
  width: 150px;
  height: 205px;
  background-color: #9e98dc;
  top: 200px;
  right: 250px;
}

.block__top100 {
  @include block;
  width: 137px;
  height: 273px;
  background-color: #ff8fe6;
  top: 500px;
  right: 190px;
}

.block__change > p, .block__top100 > p {
  font-family: Montserrat-bold, sans-serif;
}

.block__change > img, .block__top100 > img {
  width: 60px;
  height: 15px;
  padding-bottom: 10px;
}